{% extends 'topics/base.html' %}

{% block page_header %}
    <h1>{{ topic.text }}</h1>
{% endblock page_header %}

{% block content %}
    <p>
        <a href="{% url 'topics:new_entry' topic.id %}">Add new entry</a>
    </p>
    <ul>
        {% for entry in entries %}
            <div class="card mb-3">
                <h4 class="card-header">
                    {{ entry.date_added|date:'M d, Y H:i' }}
                    <small>
                        <a href="{% url 'topics:edit_entry' entry.id %}">edit entry</a>
                    </small>
                </h4>
                <div class="card-body">{{ entry.text|linebreaks }}</div>
            </div>
        {% empty %}
            <li>There are no entries for this topic yer.</li>
        {% endfor %}
{% endblock content %}
